.login-form {
    display: flex;
    flex-direction: column;
    width: 18em;
    margin: 6em auto auto auto;
}

.login-form_section {
    margin-top: 1em;
}

.login-form button {
    width: 8em;
    margin: 1em auto auto auto;
}

.login-form label {
    display: inline-block;
    margin-right: 0.5em;
    width: 5em;
}